:root{
    --vermelho: #E50914;
    --preto: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*elemento base*/
body{
    background: var(--preto);
    font-family: 'arial', Times, serif;
    color: white;

}

header .container{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-right: 50px;

}


header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'arial black', times;
    font-size: 40px;
   
    
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;

}

header nav a:hover{
    color: #ffff;
}

/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/cake-sweets-food-berries-fruit-1939209-wallhere.com.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    
}

.titulo{
    margin-top: 15px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
   

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 15px;
}

.filme-principal .container{
    width: 70%;
}

.box-doces{
    height: 20%;
    width: 20%;
    display: block;
    margin-left: 3px;  
    margin-top: 5px; 
}

.carrosel-doces{
    margin-top: 5px;
    
}

.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.50);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar{
    display: flex;

}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal{
    animation: modal .3s;
}

.modal{
    background: rgb(0, 0, 0);
    width: 30%;
    height: 50%;
    min-width: 30px;
    padding: 40px;
    border: 5px solid rgb(255, 0, 0);
    box-shadow: 0 0 0 1px white;
    border-radius: 10px;
    position: relative;
}

.fechar{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid white;
    background: #141414;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    cursor: pointer;
}

.login-caixa{
    display: flex;
    flex-direction: column;
}

.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
}

.input{
    background: black;
    border-bottom: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* pop up de criação de conta */
/*
.modal-container-inscrever{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.50);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container-inscrever.mostrar{
    display: flex;

}

@keyframes modal-inscrever {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar-inscrever .modal-inscrever{
    animation: modal .3s;
}

.modal-inscrever{
    background: rgb(0, 0, 0);
    width: 30%;
    height: 50%;
    min-width: 30px;
    padding: 40px;
    border: 5px solid rgb(255, 0, 0);
    box-shadow: 0 0 0 1px white;
    border-radius: 10px;
    position: relative;
}

.fechar-inscrever{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid white;
    background: #141414;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    cursor: pointer;
}

.inscrever-caixa{
    display: flex;
    flex-direction: column;
}

.subtitulo-inscrever{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
}

.input-inscrever{
    background: black;
    border-bottom: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}

.button-inscrever{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
*/